{% extends "base.html" %}

{% load i18n future mezzanine_tags %}

{% block meta_title %}{% trans "Mailing List" %}{% endblock %}
{% block title %}{% trans "Mailing List" %}{% endblock %}

{% block breadcrumb_menu %}
<li>
    <a href="{% url "home" %}">{% trans "Home" %}</a>
</li>
<li class="active">{% trans "Mailing List" %}</li>
{% endblock %}

{% block main %}
<form action="{% url "mailchimp-subscribe" %}" method="post">{% csrf_token %}
        {% fields_for form %}
<input type="submit" value="Subscribe" class="btn btn-primary btn-lg" />
</form>
{% endblock %}
